.customFile {
    position: relative;
    width: 100%;
    
    margin-bottom: 1rem;
  }
  
  .customFileInput {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 2.5rem; /* Adjust the height */
    margin: 0;
    opacity: 0; /* Hide the actual input */
    cursor: pointer;
  }
  
  .customFileLabel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 2.5rem; /* Match the input height */
    padding: 0.0rem 0.0rem 0.0rem 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .customFileLabel::after {
    content: "Escolher arquivo*";
    display: block;
    height: 100%;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #556ee6;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
    white-space: nowrap;
  }

  .customInvalidFeedback {
    color: #f46a6a; /* Red color for error */
    font-size: 80%; /* Adjust font size if needed */
    margin-top: 0.25rem;
    display: block; /* Ensure the element is block-level so it doesn't vanish */
  }